 <section id="volunteers" class="padding-80">

 <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-btm-40">
                        <p>
                            Our organization runs on the voluntary committment and dedication of an amazing group of professionals. Interested in joining?
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">

                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-11">
                           <!--  <div class="services-info"> -->
                                <h2>Technical Leads</h2>
                                <p>
                                    Technical Leads serve as mentors and leaders for our volunteer developer apprentices. Typically, a group of eight apprentices will work on a client facing project with one or two technical leads providing guidance and experience. The technical leads provide technical guidance and direction to the project as a whole, making architecture decisions, and providing feedback through pair programming and code reviews.
                                </p>
                                <div class="btn btn-lg btn-theme-color connect-btn">
                                    <%= link_to "BECOME A TECH LEAD", 'https://the-difference-engine.breezy.hr/p/37eb9b8f76c8', target: :_blank %>
                                </div>
                            </div>
                        </div>
                    </div><!--.services row end-->
                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h2>Product and Project Managers</h2>
                                <p>
                                    We rely on Product and Project Managers to manage our client projects. Typical backgrounds include business, management or budgeting and possess strong analytical and team building skills. These volunteers are able to get the best out of the people and projects that they oversee. 
                                </p>
                                <div class="btn btn-lg btn-theme-color connect-btn">
                                    <%= link_to "Join our PM Team", 'https://www.idealist.org/en/volunter-opportunity/7cf7c5f771ba465f809333de0d92c0ff-join-our-product-project-management-team-the-difference-engine-chicago', target: :_blank %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h2>Apprentice Web Developers</h2>
                                <p>
                                    The driving force behind The Difference Engine is the apprentice developers. Coming from bootcamps, online studies, self-taught, college misfits, etc these determined career transitioners or starters work tirelessly coding for mission based on organizations while gaining real world experience. Becoming an apprentice starts here!
                                </p>
                                <div class="btn btn-lg btn-theme-color connect-btn">
                                    <%= link_to "Apprentice Application", 'https://forms.gle/uBjVJGZSUE5yswdn7', target: :_blank %>
                                </div>
                            </div>
                        </div>
                    </div>
                         <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h2>General Volunteers</h2>
                                <p>
                                    The opportunity to volunteer with us doesn't stop at coding and product management. We have volunteers with various skills, perspectives, and time. UX/UI designers, Fundraisers, Event Planners, Social Media experts, Podcasters, and more... there is always an opportunity to engineer a difference!
                                </p>
                                <div class="btn btn-lg btn-theme-color connect-btn">
                                    <%= link_to "All around dogooders apply here", 'https://forms.gle/djXZqPfc8uWtHiTY6', target: :_blank %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>