<div class="idx-table">
  <h2>Developer Info</h2>
  <div><%= image_tag @developer.developerpic.url(:medium), class:"img-responsive" %></div>
  <p><%= @developer.first_name %> <%= @developer.last_name %></p>
  <p><%= @developer.title %></p>
</div>
<!--back to top-->
<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
<!--back to top end-->
