<div class="idx-table">
  <h2>Admin Info</h2>
  <p><%= @admin.first_name %> <%= @admin.last_name %></p>
  <p><%= @admin.email %></p>
</div>
<!--back to top-->
<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
<!--back to top end-->

