<section id="footer" class="padding-80">

 <script src="//load.sumome.com/" data-sumo-site-id="d2dbac955d1d8c0b77a641dd994506bfb9fdd97e191104cbc9b535a423486f46" async="async"></script>
 
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 copyright">
                <span>The Difference Engine is a Registered Nonprofit Organization headquartered in Chicago, Illinois &copy;<%= Time.now.year %> </span>
            </div>
            <div class="col-md-6 col-sm-6 footer-nav">
                <!-- <ul class="list-inline">
                    <li><a href="demo-default.html">Home</a></li>
                    <li><a href="blog-list.html">Latest news</a></li>
                    <li><a href="typography.html">Typography</a></li>
                </ul> -->
            </div>
        </div>
    </div>
</section><!--footer end-->