<section id="footer" class="padding-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 copyright">
                <span>The Difference Engine is a registered Illinois nonprofit company fiscally sponsored by Goodcity a 501(c)(3) organization. &copy;<%= Time.now.year %> </span>
            </div>
            <div class="col-md-6 col-sm-6 footer-nav">
                <!-- <ul class="list-inline">
                    <li><a href="demo-default.html">Home</a></li>
                    <li><a href="blog-list.html">Latest news</a></li>
                    <li><a href="typography.html">Typography</a></li>
                </ul> -->
            </div>
        </div>
    </div>
    <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3042955.js"></script>
<!-- End of HubSpot Embed Code -->
</section><!--footer end-->