<section id="footer" class="padding-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 copyright">
                <span>Anyone Can Have A Website &copy;<%= Time.now.year %> </span>
            </div>
            <div class="col-md-6 col-sm-6 footer-nav">
                <ul class="list-inline">
                    <li><a href="demo-default.html">Home</a></li>
                    <li><a href="blog-list.html">Latest news</a></li>
                    <li><a href="typography.html">Typography</a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--footer end-->