<section id="navigation">
   <div class="navbar navbar-default navbar-static-top sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="demo-default.html">Anyone Can Have A Website</a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right scrollto">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">What We Do</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#work">Work</a></li>

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-list.html">Blog List</a></li>
                            <li><a href="blog-post.html">Blog Post</a></li>
                            <li><a href="portfolio-3.html">Portfolio 3 columns</a></li>
                            <li><a href="portfolio-full.html">Portfolio Full width</a></li>
                            <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                            <li><a href="single-work.html">Portfolio Single</a></li>
                            <li><a href="soon.html">Coming Soon</a></li>
                        </ul>                               
                    </li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle js-activated">Demos <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="demo-default.html">Slider revolution</a></li>
                            <li><a href="video-slider.html">Slider Video</a></li>
                            <li><a href="fullscreen-parallax-bg-demo.html">Full screen parallax</a></li>
                            <li><a href="demo-video-bg.html">Video background</a></li>
                            
                            <li><a href="transparent-header-demo.html">Header transparent</a></li>
                        </ul>                               
                    </li>

                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </div>
</section><!--navigation section end here-->