<div class="container">
  <div class="section-heading text-center">
    <h2 class="large partnerships">Engineer A Difference</h2>
  </div>
</div>
<div class="container partnerships-container">
  <div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
      <div class="wow animated fadeInUp" data-wow-delay="0.3s">
        <p>No matter how big or small, we’ll work with your business to create a strategic partnership plan that reflects your corporate interests and business strategy while generating a deeper impact that moves more communities forward.</p>
        <p><span class="p-title">EMPLOYEE ENGAGEMENT</span>  Connect your employees to the cause through fundraising and workplace giving. Multiply employee giving through matching gifts, learning experiences, and service days. </p>
        <p><span class="p-title">CAUSE MARKETING</span>   Increase sales, build brand awareness, and demonstrate your commitment to diversity and inclusion in the workplace. Initiatives include donation with purchase, hosting fundraising events, and percentage of sales donations.</p>
        <p><span class="p-title">EVENT SPONSORSHIP</span>   Reach new and engaged audiences by sponsoring an event and help build a community around our shared cause. Possible events include a community ride, panel discussion, or milestone gala.</p>
        <p><span class="p-title">FIELD PROGRAM SPONSORSHIP</span>   Work with our team to make a direct impact in the field by funding innovative programs.</p>
        <p><span class="p-title">STRATEGIC PARTNERS</span>  Strategic partnerships align long-term corporate giving with multi-year, joint program development that provides solutions (i.e. hiring pipeline). These partnerships may include launching new initiatives, implementing new developments, and funding programs of excellence.</p>
        <p><span class="p-title">ADVOCACY PARTNERS</span>  Advocacy partners promote The Difference Engine as an organization, clients, and TDE apprentices as pipeline talent within the tech industry through their channels and networks.</p>
        <br>
        <br>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
  </div>
</div>