<section id="about" class="padding-80">

    <!--about page content-->
    <div class="about-section">
        <div class="container">
            <div class="section-heading text-center">
                <h4 class="small section-title"><span>We love what we do?</span></h4>
                <h2 class="large section-title">About us</h2>
            </div><!--section heading-->             

        </div><!--container-->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-duration="0.3s">
                        <div class="about-box-icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Creative ideas </h4>
                            <p>
                                Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
                            </p>
                        </div>
                    </div><!--about us box end-->
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.5">
                        <div class="about-box-icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Clean Code</h4>
                            <p>
                                Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
                            </p>
                        </div>
                    </div><!--about us box end-->
                </div>
            </div><!--about services row end--> 
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.6s">
                        <div class="about-box-icon">
                            <i class="fa fa-image"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Unique Designs </h4>
                            <p>
                                Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
                            </p>
                        </div>
                    </div><!--about us box end-->
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.8s">
                        <div class="about-box-icon">
                            <i class="fa fa-hand-o-up"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Creative Team </h4>
                            <p>
                                Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa
                            </p>
                        </div>
                    </div><!--about us box end-->
                </div>
            </div><!--about services row end--> 
            <div class="about-section-more">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-more-info wow animated fadeInUp" data-wow-delay="0.3s">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="skills-wrapper wow animated bounceIn" data-wow-delay="0.6s">
                            <h3 class="heading-progress">Web Design <span class="pull-right">88%</span></h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar">
                                </div>
                            </div>
                            <h3 class="heading-progress">Web Development <span class="pull-right">78%</span></h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 78%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" role="progressbar">
                                </div>
                            </div>
                            <h3 class="heading-progress">Marketing <span class="pull-right">82%</span></h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 82%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" role="progressbar">
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>
                <div class="row easy-pie-chart-row">
                    <div class="col-sm-3 text-center">
                        <div class="progress-circle">

                            <div class="chart" data-percent="95" data-scale-color="#9eca45">
                                <span>95%</span>
                                <canvas height="120" width="120"></canvas>
                            </div>
                            <p class="progress-text">HTML5 / CSS3</p>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="progress-circle">

                            <div class="chart" data-percent="85" data-scale-color="#9eca45">
                                <span>85%</span>
                                <canvas height="120" width="120"></canvas>
                            </div>
                            <p class="progress-text">WORDPRESS</p>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="progress-circle">

                            <div class="chart" data-percent="75" data-scale-color="#9eca45">
                                <span>75%</span>
                                <canvas height="120" width="120"></canvas>
                            </div>
                            <p class="progress-text">Jquery</p>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="progress-circle">

                            <div class="chart" data-percent="89" data-scale-color="#9eca45">
                                <span>89%</span>
                                <canvas height="120" width="120"></canvas>
                            </div>
                            <p class="progress-text">Photoshop</p>
                        </div>
                    </div>

                </div>

            </div><!--section about 3 end-->
        </div>
    </div>

    <div class="purchase-now parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="wow animated fadeInLeft" data-wow-delay="0.3s">Using Design as a <strong>Business</strong> Strategy</h1>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="btn btn-lg btn-theme-color wow animated bounceIn" data-wow-delay="0.6s"> Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
    <!--page about content end here-->            
</section>
<!--about section end here-->