<section id="services" class="padding-80">


    <div class="services-section-1">
        <div class="container">
            <div class="section-heading text-center">
                <h2 class="large section-title">How It Works</h2>
            </div><!--section heading-->             

        </div><!--container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-btm-40">
                        <h4>The key to everything is communication</h4>
                        <p>
                            We understand that to many, web development is a black box. Our approach is to work with you collaboratively from the very start, setting clear goals and expectations and laying out how we will meet them. From the planning stages to the final implementation, we maintain full transparency and remain in constant contact with you so that you never feel like you're in the dark.  
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">

                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-map-o"></i>
                            </div> 
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Proposal</h3>
                                <p>
                                    We'll first schedule a meeting with you and a project manager from our team to scope out the project and see if we're a good fit. We then draw up a proposal clearly stating the work we'll do for your project.
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-rocket"></i>
                            </div> 
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Kickoff</h3>
                                <p>
                                    Once we're ready to go, we'll collaborate with you on breaking the project down into smaller milestones, and setting goals for completing them.
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-image"></i>
                            </div> 
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Planning</h3>
                                <p>
                                    We will create mockups to help you envision what your product will eventually look like. If you so choose, we can also design the site from top to bottom, making a visually compelling experience for your users. 
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-keyboard-o"></i>
                            </div> 
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Development</h3>
                                <p>
                                    This is the crux of what we do. Using an iterative process, we breathe life into your product, creating the features that drive its functionality. Instead of waiting until the end to demonstrate the final product, we build it in stages, always looping you in to make sure we remian on the right track.
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                </div>
                <!-- <div class="col-md-6 wow animated fadeInRight" data-wow-delay="0.6s">

                </div> -->
            </div>
        </div>
    </div><!--services section 1 end-->
    <div class="services-section-2 parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Ready to work with us?</h1>
                    <a href="/#contact" class="btn btn-lg btn-theme-color wow animated bounceIn" data-wow-delay="0.6s">Apply</a>
                </div>
            </div>
        </div>
    </div><!--services section 1 end-->
</section>
