<section id="services" class="padding-80">


    <div class="services-section-1" id="how-it-works">
        <div class="container">
            <div class="section-heading text-center">
                <h2 class="large section-title">How It Works</h2>
            </div><!--section heading-->

        </div><!--container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-btm-40">
                        <p>
                            Our organization works with non-traditional entry level web developers and provides them with real life projects over a staggered 17 week program participation model. They work collaboratively within a team environment under the supervision and mentorship of experienced tech professionals. We offer our solutions PRO BONO to qualified nonprofit or social organizaitons.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay="0.3s">

                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Client Interview</h3>
                                <p>
                                    First, we schedule a meeting with your organization's key stakeholders and our program director to get the initial details of your project and see if we're a good fit. The ideal client/project is brand new, open to any technical solution(s) our team can create and has an open time frame.
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Requirements Gathering & Kickoff</h3>
                                <p>
                                    Once we're ready to go, we collaborate with you on breaking the project down into specific roles and detailed features. This is a critical first step into getting started on your project - client involvement is KEY. Then we get to work!
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                    <!-- <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-image"></i>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Planning</h3>
                                <p>
                                    We will create mockups to help you envision what your product will eventually look like. If you so choose, we can also design the site from top to bottom, making a visually compelling experience for your users.
                                </p>
                            </div>
                        </div>
                    </div> --><!--.services row end-->
                    <div class="row margin-btm-20">
                        <div class="col-md-1">
                            <div class="services-icon">
                                <i class="fa fa-rocket" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="services-info">
                                <h3>Development & Delivery</h3>
                                <p>
                                    This is the crux of what we do. Using an iterative process, we breathe life into your product, creating the features that drive its functionality and turning idea into reality. Instead of waiting until the end to demonstrate the final product, we build it in stages, always looping you in to make sure we stay on the right track. Our apprentice developers make sure you’re beyond satisfied before handing over your finalized, polished product.
                                </p>
                            </div>
                        </div>
                    </div><!--.services row end-->
                </div>
                <!-- <div class="col-md-6 wow animated fadeInRight" data-wow-delay="0.6s">

                </div> -->
            </div>
        </div>
    </div><!--services section 1 end-->
    <div class="services-section-2 parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Ready to get started?</h1>
                    <%= link_to "Let’s Talk", new_lead_path, class:"btn btn-lg btn-theme-color wow animated bounceIn" %>
                </div>
            </div>
        </div>
    </div><!--services section 1 end-->
</section>
