<div class="work-section-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center margin-btm-40">
        <div class="section-heading text-center">
            <h4 class="small section-title"><span>Our Teams</span></h4>
            <h2 class="large section-title">San Francisco</h2>
        </div>
      </div>
    </div><!--.row-->
    <div class="row">
      <div class="col-sm-4">
        <div class="person">
          <%= image_tag "andrew-wei.jpg", class:"img-responsive" %>
          <div class="person-desc">
            <h4>Andrew Wei</h4>
            <em>Creative Designer</em>
            <p>
              I began my career in the IT field, interning for various companies during
              my final year of college. After graduating and working in IT for a
              couple years, I decided I wanted to expand on the skills I learned in
              college. I am excited to put my skills to work and further develop them as well!</p>
          </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <img src="img/team-2.jpg" class="img-responsive" alt="">
            <div class="person-desc">
              <h4>maria Smith</h4>
              <em>Team manager</em>
              <p>
                    Vivamus motestues phasellus enim sed orci eu pharetra. Donec posuere nunc vitae tortor sagittis feugiat in non massa. Quisqueeas sed mi nec.
              </p>
            </div>
        </div>
      </div><!--team-col-->
      <div class="col-sm-4">
        <div class="person">
          <img src="img/team-3.jpg" class="img-responsive" alt="">
          <div class="person-desc">
            <h4>Daniel Smith</h4>
            <em>Creative Designer</em>
            <p>
                Vivamus motestues phasellus enim sed orci eu pharetra. Donec posuere nunc vitae tortor sagittis feugiat in non massa. Quisqueeas sed mi nec.
            </p>
          </div>
        </div>
      </div><!--team-col-->
    </div>
  </div><!--.container-->
</div><!--team section end-->
</section><!--#work-section-->