<!--our work section start here-->
<section id="work" class="padding-80">

    <div class="work-section-1">
        <div class="container">
            <div class="section-heading text-center">
                <h4 class="small section-title"><span>Latest portfolio</span></h4>
                <h2 class="large section-title">Our work</h2>
            </div><!--section heading-->
        </div>
        <div class="container">
            <!-- <ul class="filter list-inline">
                <li><a class="active" href="#" data-filter="*">Show All</a></li>
                <li><a href="#" data-filter=".photography">Photography</a></li>
                <li><a href="#" data-filter=".illustration">illustration</a></li>
                <li><a href="#" data-filter=".branding">branding</a></li>
                <li><a href="#" data-filter=".web-design">web design</a></li>
            </ul> -->
            <div class="row">
                <div class="portfolio-box iso-call work-col-4">
                    <div class="project-post photography branding">
                        <a href="single-work.html">
                                <div class="image-wrapper">
                                    <%= image_tag "women-who-code.png", class:"img-responsive" %>
                                    <div class="image-overlay">
                                        <p>
                                            View Detail
                                        </p>
                                    </div><!--.image-overlay-->
                                </div><!--.image-wrapper-->
                            </a>
                            <div class="work-sesc">
                                <p>
                                    Women Who Code
                                </p>
                            </div><!--.work-desc-->
                    </div><!--project post-->
                    <div class="project-post illustration web-design">
                       <a href="single-work.html">
                                <div class="image-wrapper">
                                    <%= image_tag "sharing-wisdom.png", class:"img-responsive" %>
                                    <div class="image-overlay">
                                        <p>
                                            View Detail
                                        </p>
                                    </div><!--.image-overlay-->
                                </div><!--.image-wrapper-->
                            </a>
                            <div class="work-sesc">
                                <p>
                                    Sharing Wisdom
                                </p>
                            </div><!--.work-desc-->
                    </div><!--project post-->
                    <div class="project-post photography web-design">
                       <a href="single-work.html">
                                <div class="image-wrapper">
                                    <%= image_tag "john-marshall.png", class:"img-responsive" %>
                                    <div class="image-overlay">
                                        <p>
                                            View Detail
                                        </p>
                                    </div><!--.image-overlay-->
                                </div><!--.image-wrapper-->
                            </a>
                            <div class="work-sesc">
                                <p>
                                    John Marshall Law School
                                </p>
                            </div><!--.work-desc-->
                    </div><!--project post-->

                    <div class="project-post branding">
                        <a href="single-work.html">
                                <div class="image-wrapper">
                                    <%= image_tag "svp.png", class:"img-responsive" %>
                                    <div class="image-overlay">
                                        <p>
                                            View Detail
                                        </p>
                                    </div><!--.image-overlay-->
                                </div><!--.image-wrapper-->
                            </a>
                            <div class="work-sesc">
                                <p>
                                    Social Venture Partners
                                </p>
                            </div><!--.work-desc-->
                    </div><!--project post-->
                </div>
            </div>
        </div><!--container-->


    </div><!--work section 1-->
    <!--testimonials-->
       <div class="testi parallax " data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div id="testi-carousel" class="owl-carousel">
                        <div>
                            <img src="assets/theme/t-1.jpg" alt="">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                            </h4>
                            <p>Kris watson</p>
                        </div><!--testimonials item like paragraph-->
                        <div>
                            <img src="assets/theme/t-2.jpg" alt="">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                            </h4>
                            <p>Daniel faulkner</p>
                        </div><!--testimonials item like paragraph-->
                        <div>
                            <img src="assets/theme/t-3.jpg" alt="">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia.
                            </h4>
                            <p> Steve Smith</p>
                        </div><!--testimonials item like paragraph-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--testimonials-->

    <!-- <div class="work-section-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center margin-btm-40">
                    <div class="section-heading text-center">
                        <h4 class="small section-title"><span>Super creative heroes</span></h4>
                        <h2 class="large section-title">Our team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="person">
                        <img src="assets/theme/team-1.jpg" class="img-responsive" alt="">
                        <div class="person-desc">
                            <h4>Daniel Smith</h4>
                            <em>Creative Designer</em>
                            <p>
                                Vivamus motestues phasellus enim sed orci eu pharetra. Donec posuere nunc vitae tortor sagittis feugiat in non massa. Quisqueeas sed mi nec.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="person">
                        <img src="assets/theme/team-2.jpg" class="img-responsive" alt="">
                        <div class="person-desc">
                            <h4>maria Smith</h4>
                            <em>Team manager</em>
                            <p>
                                Vivamus motestues phasellus enim sed orci eu pharetra. Donec posuere nunc vitae tortor sagittis feugiat in non massa. Quisqueeas sed mi nec.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="person">
                        <img src="assets/theme/team-3.jpg" class="img-responsive" alt="">
                        <div class="person-desc">
                            <h4>Daniel Smith</h4>
                            <em>Creative Designer</em>
                            <p>
                                Vivamus motestues phasellus enim sed orci eu pharetra. Donec posuere nunc vitae tortor sagittis feugiat in non massa. Quisqueeas sed mi nec.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!--fun facts-->
    <!-- <div class=" fun-facts parallax" id="numbers" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-btm-20">
                    <div class="fact-inner">
                        <h2 class="counter">34565</h2>
                        <h4>Projects Complete</h4>
                    </div>
                </div>
                <div class="col-md-3 margin-btm-20">
                    <div class="fact-inner">
                        <h2 class="counter">1599</h2>
                        <h4>Happy Customers</h4>
                    </div>
                </div>
                <div class="col-md-3 margin-btm-20">
                    <div class="fact-inner">
                        <h2 class="counter">99999</h2>
                        <h4>Songs Listen</h4>
                    </div>
                </div>
                <div class="col-md-3 margin-btm-20">
                    <div class="fact-inner">
                        <h2 class="counter">1255</h2>
                        <h4>Cups of coffee</h4>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--fun facts-->
</section><!--#work-section-->

<!--our work section end-->