<!--pricing table section start here-->


<section id="pricing" class="padding-80">



    <div class="pricing-section-1">
        <div class="container">
            <div class="section-heading text-center">
                <h4 class="small section-title"><span>Choose a plan</span></h4>
                <h2 class="large section-title">Pricing Tables</h2>
            </div><!--section heading-->
        </div><!--section heading-->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing-wrapper wow animated fadeInDown" data-wow-delay=".3s">
                        <div class="pricing-wrapper-inner">
                            <h1>Free</h1>
                            <h2>$00.00<small>-P/M</small></h2>
                            <div class="price-desc">
                                <p>15 email accounts</p>
                                <p>10 Projects</p>
                                <p><i class="fa fa-times"></i></p>
                                <p><i class="fa fa-times"></i></p>
                                <p><i class="fa fa-times"></i></p>
                            </div>

                            <div class="price-join">
                                <a href="#" class="btn btn-lg btn-theme-color">Choose plan</a>
                            </div>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--price col-->
                <div class="col-md-4">
                    <div class="pricing-wrapper price-popular wow animated fadeInUp" data-wow-delay=".6s">
                        <div class="pricing-wrapper-inner">
                            <h1>Pro</h1>
                            <h2>$99.99<small>-P/M</small></h2>
                            <div class="price-desc">
                                <p>Unlimited email accounts</p>
                                <p>Unlimited Projects</p>
                                <p>Unlimited Store (3 years)</p>
                                <p>Unlimited users</p>
                                <p>Full Support</p>
                            </div>

                            <div class="price-join">
                                <a href="#" class="btn btn-lg btn-theme-color">Choose plan</a>
                            </div>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--price col-->
                <div class="col-md-4">
                    <div class="pricing-wrapper wow animated fadeInRight" data-wow-delay=".9s">
                        <div class="pricing-wrapper-inner">
                            <h1>Basic</h1>
                            <h2>$49.99<small>-P/M</small></h2>
                            <div class="price-desc">
                                <p>Unlimited email accounts</p>
                                <p>Unlimited Projects</p>
                                <p>500 GB Storage</p>
                                <p>Unlimited users</p>
                                <p>Full Support</p>
                            </div>

                            <div class="price-join">
                                <a href="#" class="btn btn-lg btn-theme-color">Choose plan</a>
                            </div>
                        </div>
                    </div><!--pricing wrapper-->
                </div><!--price col-->
            </div>
        </div>
    </div><!--price section one end here-->


    <div class="pricing-section-2 parallax " data-stellar-background-ratio="0.5">
        <div class="container text-center wow animated bounceIn">
            <h1>have creative ideas? let help us </h1>
            <p class="scrollto"><a href="#contact" class="btn btn-lg btn-theme-color">Contact us</a></p>
        </div>
    </div>

</section> <!--pricing table section end here-->