<section id="about" class="padding-80">

    <!--about page content-->
    <div class="about-section" id="what-we-do">
        <div class="container">
            <div class="section-heading text-center">
                <!-- <h4 class="small section-title"><span>Creators of custom websites and web based software</span></h4> -->
                <h2 class="large section-title">We Deliver Much More Than Code</h2>
            </div><!--section heading-->

        </div><!--container-->

        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="about-more-info wow animated fadeInUp" data-wow-delay="0.3s">
                            <p>Our web development apprenticeship program exists to transform people’s lives by empowering those who do not have the typical background for entering tech to launch new careers in that field. We provide professional technical solutions to nonprofit and mission-based organizations to help carry out their purpose.</p>
                            <p>We can build a range of products and features, including:</p>
                        </div>
                    </div>

                </div>

            </div><!--section about 3 end-->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-duration="0.3s">
                        <div class="about-box-icon">
                            <i class="fa fa-database"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Database apps (to replace spreadsheets)</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.5">
                        <div class="about-box-icon">
                            <i class="fa fa-exchange"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Volunteer / inventory management systems</h4>
                        </div>
                    </div>
                </div>
            </div>


           <!--  
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.6s">
                        <div class="about-box-icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Dashboards for data collection and reporting</h4>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-box wow animated fadeInDown" data-wow-delay="0.8s">
                            <div class="about-box-icon">
                                <i class="fa fa-credit-card"></i>
                            </div>
                            <div class="about-box-text">
                                <h4>Secure payment / donation collection</h4>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="about-box wow animated fadeInDown" data-wow-delay="0.8s">
                            <div class="about-box-icon">
                                <i class="fa fa-cogs"></i>
                            </div>
                            <div class="about-box-text">
                                <h4>Workflow and collaboration tools</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="about-box wow animated fadeInDown" data-wow-delay="0.6s">
                            <div class="about-box-icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="about-box-text">
                                <h4>Customized social networks</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="about-box wow animated fadeInDown" data-wow-delay="0.6s">
                            <div class="about-box-icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="about-box-text">
                                <h4>Mobile responsive websites</h4>
                            </div>
                        </div>
                    </div>
                 </div>

                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.8s">
                        <div class="about-box-icon">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>...and more!</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
<!--
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-duration="0.3s">
                        <div class="about-box-icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>We Bring Your Idea To Reality</h4>
                            <p>
                                Our team will work with you to bring your website, web app, or custom software to reality. Whether you need an online presence or internal custom software for your organization, we can make it happen. We work remotely, so no matter where you are, we can help.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.5">
                        <div class="about-box-icon">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Websites</h4>
                            <p>
                                A website typically serves as an online destination for an organization, providing information about its services and how it can be contacted. In many cases, users can also interact with the site by submitting information in various ways.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.6s">
                        <div class="about-box-icon">
                            <i class="fa fa-sliders"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Web Applications</h4>
                            <p>
                                More dynamic than websites, web applications (aka web apps) offer a lot more functionality. Ecommerce sites, social networks, and productivity software are all examples of web apps.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.8s">
                        <div class="about-box-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Custom Software</h4>
                            <p>
                                Custom web based software can help make one's organization more efficient by automating processes and displaying data. The nature of this software varies widely across different organizations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>-->
    </div>

    <div class="purchase-now parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="wow animated fadeInLeft" data-wow-delay="0.3s">We create web applications and sites that allow organizations to use tech <strong>to further their missions</strong> throughout the world.</h1>
                </div>
                <div class="col-sm-4">
                    <%= link_to "Let’s Get Started", new_lead_path, class:"btn btn-lg btn-theme-color wow animated bounceIn" %>
                </div>
            </div>
        </div>
    </div>
    <!--page about content end here-->
</section>
<!--about section end here-->