<section id="about" class="padding-80">

    <!--about page content-->
    <div class="about-section">
        <div class="container">
            <div class="section-heading text-center">
                <!-- <h4 class="small section-title"><span>Creators of custom websites and web based software</span></h4> -->
                <h2 class="large section-title">What We Do</h2>
            </div><!--section heading-->             

        </div><!--container-->

        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="about-more-info wow animated fadeInUp" data-wow-delay="0.3s">
                            <p>
                                Our developers are recent graduates of the <a href="http://www.anyonecanlearntocode.com" target="_blank" class="outside_link">Anyone Can Learn To Code</a> web development training program, ranked among the top five such programs in the world by <a href="http://tech.co/top-33-coding-bootcamps-2015-02" target="_blank" class="outside_link">Tech Cocktail</a>. They work under the supervision of our senior development team, who guide the project and ensure utmost quality. Our graduates seek to gain real world experience, so we're proposing a win-win for nonprofit organizations: We'll work for you at no cost, and our graduates will build a portfolio of projects that will help them land a full-time position.
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-sm-6">
                        <div class="skills-wrapper wow animated bounceIn" data-wow-delay="0.6s">
                                    
                        </div>
                    </div> -->
                </div>

            </div><!--section about 3 end-->

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-duration="0.3s">
                        <div class="about-box-icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>We Bring Your Idea To Reality</h4>
                            <p>
                                Our team will work with you to bring your website, web app, or custom software to reality. Whether you need an online presence or internal custom software for your organization, we can make it happen. We work remotely, so no matter where you are, we can help.
                            </p>
                        </div>
                    </div><!--about us box end-->
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.5">
                        <div class="about-box-icon">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Websites</h4>
                            <p>
                                A website typically serves as an online destination for an organization, providing information about its services and how it can be contacted. In many cases, users can also interact with the site by submitting information in various ways.
                            </p>
                        </div>
                    </div><!--about us box end-->
                </div>
            </div><!--about services row end--> 
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.6s">
                        <div class="about-box-icon">
                            <i class="fa fa-sliders"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Web Applications</h4>
                            <p>
                                More dynamic than websites, web applications (aka web apps) offer a lot more functionality. Ecommerce sites, social networks, and productivity software are all examples of web apps.
                            </p>
                        </div>
                    </div><!--about us box end-->
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box wow animated fadeInDown" data-wow-delay="0.8s">
                        <div class="about-box-icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="about-box-text">
                            <h4>Custom Software</h4>
                            <p>
                                Custom web based software can help make one's organization more efficient by automating processes and displaying data. The nature of this software varies widely across different organizations.
                            </p>
                        </div>
                    </div><!--about us box end-->
                </div>
            </div><!--about services row end--> 
            
        </div>
    </div>

    <div class="purchase-now parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="wow animated fadeInLeft" data-wow-delay="0.3s">Quality Work For Your Organization <strong>Pro-Bono</strong></h1>
                </div>
                <div class="col-sm-4">
                    <a href="/#contact" class="btn btn-lg btn-theme-color wow animated bounceIn" data-wow-delay="0.6s">Apply</a>
                </div>
            </div>
        </div>
    </div>
    <!--page about content end here-->            
</section>
<!--about section end here-->