<div class="container">
  <table class="table table-striped" id="project-table">
    <thead>
      <tr>
        <th><h3>Portfolio Projects</h3></th>
        <th><%= link_to "New Project", new_project_path, class: "btn btn-info btn-md" %></th>
      </tr>
    </thead>
    <tbody>
      <%  @projects.each do |project| %>
        <tr>
          <td> <%= link_to "#{project.title}", project_path(project) %> </td>
          <td> <%= link_to "Edit", edit_project_path(project), class: "btn btn-warning btn-sm" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>