<div class="container">
  <table class="table table-striped" id="project-table">
    <thead>
      <tr>
        <th><h3>Portfolio Projects</h3></th>
      </tr>
    </thead>
    <tbody>
      <%  @projects.each do |project| %>
        <tr>
          <td> <%= link_to "#{project.title}", project_path(project) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>