/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require theme/bootstrap-theme
 *= require theme/bootstrap
 *= require theme/animate
 *= require theme/flexslider
 *= require theme/owl.carousel
 *= require theme/owl.theme
 *= require theme/style
 *= require theme/YTPlayer
 *= require theme/font-awesome
 *= require theme/settings-ie8
 *= require theme/settings
 *= require_tree .
 *= require_self
 */

.new-project-container {
  margin: 40px auto;
  width: 75%;
}

#page-head-bg {
  padding: 50px 0;
}

#page-head-bg h1 {
  font-weight: 700;
}

textarea#project_description {
  height: 200px;
}

.slider-image-border {
  border: 2px solid #fafafa;
}

:target:before {
  content: "";
  display: block;
  height: 90px;
  margin: -90px 0 0;
}

.devise-sign-in-container {
  margin: 75px auto;
  max-width: 500px;
  background-color: #f5f5fd;
  border-radius: 5px;
}

.devise-sign-in-container h2 {
  text-align: center;
}

.devise-sign-in-container input#admin_email, input#admin_password  {
  width: 470px;
  padding-left: 10px;
  font-size: 16px;
}

.devise-password-reset-form {
  margin: 125px auto;
  max-width: 500px;
  background-color: #f5f5fd;
  border-radius: 5px;
}

.devise-password-reset-form h2 {
  text-align: center;
}

.devise-password-reset-form input#admin_email, input#admin_password  {
  width: 470px;
  padding-left: 10px;
  font-size: 16px;
}

#project-table {
  width: 500px;
  margin: 50px auto 150px auto;
}

.alert {
  padding: 15px 0 15px 50px;
  margin-bottom: 0;
}

.alert-dismissible {
  padding-right: 100px;
}

.lead-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.lead-container input, select {
  font-size: 16px;
  font-weight: 700;
}

.lead-title {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 75px;
  line-height: 1.2;
}

.lead-btn {
  font-size: 16px;
  padding: 10px 24px;
}

.connect-btn {
  font-size: 20px;
  padding: 10px 30px;
}

.tagline-subhead {
  font-weight: 600 !important;
  font-size: 18px !important;
}

@media (min-width: 992px) {
  .role {
    font-size: 14px !important;
  }

  .lead-container {
    width: 60%;
  }
}

@media (max-width: 414px) {
  #home.full-screen-dem {
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: 40%;
    height: 40%;
  }

  .home-content {
    vertical-align: top;
    padding-top: 107px;
  }

  .main-flex-slider h1 {
    font-size: 2em;
  }

  .connect-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}